%h1 Listing people_schedules

%table
  %thead
    %tr
      %th Person
      %th Schedule
      %th
      %th
      %th

  %tbody
    - @people_schedules.each do |people_schedule|
      %tr
        %td= people_schedule.person_id
        %td= people_schedule.schedule_id
        %td= link_to 'Show', people_schedule
        %td= link_to 'Edit', edit_people_schedule_path(people_schedule)
        %td= link_to 'Destroy', people_schedule, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New People schedule', new_people_schedule_path
