= form_for @condition do |f|
  - if @condition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@condition.errors.count, "error")} prohibited this condition from being saved:"
      %ul
        - @condition.errors.full_messages.each do |message|
          %li= message

  

  .form-group
    = f.label :name, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :verbiage, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_area :verbiage, class: "form-control"

  .form-group
    = f.label :indication, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :indication, class: "form-control"

  .form-group
    = f.label :status, class: "col-sm-4 control-label"
    .col-sm-1
      = f.check_box :status, class: "form-control"
     
  .form-group
    = f.label :approved, class: "col-sm-4 control-label"
    .col-sm-1
      = f.check_box :approved, class: "form-control"
  
  .form-group
    = f.label :change_approved_by, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :change_approved_by, class: "form-control"

  .form-group
    = f.label :change_approved_at, class: "col-sm-4 control-label"
    .col.sm-8
      = f.datetime_select :change_approved_at
  .actions
    = f.submit 'Save'
