.container-fluid

  %h1 Finder

  .row

    .col-2
          
      = render "search_panel", locals: {q: @q}
          

    .col-6
      %h3 Contract & Agreement Clauses
      = @conditions.count 
      listed
      = will_paginate
      %hr
      
      %table.table.table-striped

        %thead
          %tr
            %th{align: 'left'} 
              %em Name
            %th{align: 'left', valign: 'top', width: '224'}
              %em Verbiage
            %th{align: 'left', width: '32'}Indication
            %th{align: 'left', width: '32'}Status
            %th{align: 'left', width: '32'}Approved
            %th{align: 'left', width: '32'}By
            %th{align: 'left', width: '32'}When
            %th{align: 'left', width: '32'}Show
            %th{align: 'left', width: '32'}Edit
            %th{align: 'left', width: '32'}Delete
            
        %tbody
          - @conditions.each do |f|
            %tr.data
              %td= f.name
              %td{align: 'left', width: 224}= f.verbiage
              %td= f.indication
              %td= f.status
              %td= f.approved
              %td= f.change_approved_by
              %td= f.change_approved_at
              %td= link_to 'Show', f
              %td= link_to 'Edit', edit_condition_path(f)
              %td= link_to 'Delete', f, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Condition', new_condition_path
