%p#notice= notice

.container-fluid
  .row
    .col-sm-6
      %h1
        Condition
  .row
    .col-sm-6
      %h3
        = @condition.name      
      
 
%hr

.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Verbiage:
    .col-sm-10
      = @condition.verbiage
    
  .row      
    .col-sm-2
      Indication/When to Use:
    .col-sm-10
      = @condition.indication

  .row      
    .col-sm-2
      Statis:
    .col-sm-10
      = @condition.status ? 'Effective' : 'Not Required'

  .row      
    .col-sm-2
      Approved:
    .col-sm-10
      = @condition.approved ? 'Approved' : 'Not Approved'

  .row      
    .col-sm-2
      Change Approved By:
    .col-sm-10
      = @condition.change_approved_by

  .row      
    .col-sm-2
      When approved:
    .col-sm-10
      = @condition.change_approved_at

  .row
    .col-sm-2
      = link_to 'Edit', edit_condition_path(@condition)
      = link_to 'Back', conditions_path


