= form_for @quote do |f|
  - if @quote.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quote.errors.count, "error")} prohibited this quote from being saved:"
      %ul
        - @quote.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :project_id
    = f.number_field :project_id
  .field
    = f.label :quote_to_id
    = f.number_field :quote_to_id
  .field
    = f.label :rep_id
    = f.number_field :rep_id
  .field
    = f.label :name{30}
    = f.text_field :name{30}
  .field
    = f.label :fire_ants
    = f.check_box :fire_ants
  .field
    = f.label :fire_ants_verified_by
    = f.text_field :fire_ants_verified_by
  .field
    = f.label :inclusions
    = f.text_area :inclusions
  .field
    = f.label :expected_start
    = f.datetime_select :expected_start
  .field
    = f.label :duration
    = f.number_field :duration
  .field
    = f.label :council
    = f.text_field :council
  .actions
    = f.submit 'Save'
