%h1 Listing quotes

%table
  %thead
    %tr
      %th Project
      %th Quote to
      %th Rep
      %th Name{30}
      %th Fire ants
      %th Fire ants verified by
      %th Inclusions
      %th Expected start
      %th Duration
      %th Council
      %th
      %th
      %th

  %tbody
    - @quotes.each do |quote|
      %tr
        %td= quote.project_id
        %td= quote.quote_to_id
        %td= quote.rep_id
        %td= quote.name{30}
        %td= quote.fire_ants
        %td= quote.fire_ants_verified_by
        %td= quote.inclusions
        %td= quote.expected_start
        %td= quote.duration
        %td= quote.council
        %td= link_to 'Show', quote
        %td= link_to 'Edit', edit_quote_path(quote)
        %td= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Quote', new_quote_path
