%p#notice= notice

%p
  %b By:
  = @comment.by
%p
  %b Body:
  = @comment.body
%p
  %b Tracking ID:
  = @comment.tracking_id

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
