= form_for @trial do |f|
  - if @trial.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trial.errors.count, "error")} prohibited this trial from being saved:"
      %ul
        - @trial.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :trialable
    = f.text_field :trialable
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :person
    = f.text_field :person
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
