%p#notice= notice

%p
  %b Trialable:
  = @trial.trialable
%p
  %b Company:
  = @trial.company
%p
  %b Person:
  = @trial.person
%p
  %b Name:
  = @trial.name
%p
  %b Description:
  = @trial.description

= link_to 'Edit', edit_trial_path(@trial)
\|
= link_to 'Back', trials_path
