%hr

%h3 Address

.form-group
  = form.label :street_address, "Street Address", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :street_address, class: "form-control"

.form-group
  = form.label :city, "City", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :city, class: "form-control"

.form-group
  = form.label :state, "State", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :state, class: "form-control"

.form-group
  = form.label :post_code, "Post Code", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :post_code, class: "form-control"

.form-group
  = form.label :map_reference, "City", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :map_reference, class: "form-control"

.form-group
  = form.label :Longitude, "Longitude", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :longitude, class: "form-control"

.form-group
  = form.label :latitude, "Latitude", class: "col-md-4 control-label"
  .col-md-8
    = form.text_field :latitude, class: "form-control"

