
.container-fluid

  %h1 Finder  

  
  .row

    .col-2

      = render "search_panel", locals: {q: @q}

    .col-6
      %h3 People
      = @people.count 
      listed
      = will_paginate
      %hr
    
      
        %table.table.table-striped
          %thead
            %tr
            %th
              %em
                First name
            %th
              %em
                Last name
            %th Company
            %th
              %em
                Title
            
          %tbody
            - @people.each do |person|
              %tr.data
                %td= person.first_name
                %td= person.last_name
                %td= person.company_name
                %td= person.title
                
                %td= link_to 'Show', person_path(person)
                %td= link_to 'Edit', edit_person_path(person)
                %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

      %br/

      = link_to "Companies", companies_path
