.container-fluid
  %h1
  -unless params[:company_id]
    = @person.display_name
    ,
    = @person.company.name

  %p
    -if @person.addresses.empty?
      This person is homeless!
      = link_to "person_address...", person_address_path(@person)
    -else
      = @person.display_address 
      = link_to "address...", edit_address_path(@address)

  %p

    -#= render 'address_modal'
  %p

    = render "shared/contacts_for"

  %hr

    .row
      .col-sm-2
        %em
          Attributes
      .col-sm-10
        %em
          Settings
    %p
  .row      
    .col-sm-2
      First name:
    .col-sm-10
      = @person.first_name
  .row
    .col-sm-2
      Last Name:
    .col-sm-10
      = @person.last_name
  .row
    .col-sm-2
      Title:
    .col-sm-10
      = @person.title
  .row
    .col-sm-2
      Available:
    .col-sm-10
      = @person.available ? 'Yes' : 'No'

  .row
    .col-sm-2
      Available_on:
    .col-sm-10
      = @person.available_on.strftime("%a, %B %d, %Y - %I:%M %P %Z ")

  .row
    .col-sm-2
      OK To Contact:
    .col-sm-10
      = @person.OK_to_contact ? 'Yes' : 'No'

  .row
    .col-sm-2
      Active:
    .col-sm-10
      = @person.active ? 'Yes' : 'No'
  %p
  = link_to 'Edit', edit_person_path(@person)
  &nbsp;
  = link_to 'Back', people_path
  
  &nbsp;
  = link_to companies_path, class: 'btn btn-secondary' do
    %i.glyphicon.glyphicon-plus
    Companies
