
%h1
  = @person.display_name

%p
  = @person.display_address
  = link_to 'edit address', edit_person_address_path(@person, @address)

  = render 'address_modal'
  %p

  = render "identifiers/contacts_for"

  = link_to "... more", person_address_path(@person)
  %p
  
%hr

.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      First name:
    .col-sm-10
      = @person.first_name
  .row
    .col-sm-2
      Last Name:
    .col-sm-10
      = @person.last_name
  .row
    .col-sm-2
      Title:
    .col-sm-10
      = @person.title
  .row
    .col-sm-2
      Available:
    .col-sm-10
      = @person.available ? 'Yes' : 'No'

  .row
    .col-sm-2
      Available_on:
    .col-sm-10
      = @person.available_on.strftime("%a, %B %d, %Y - %I:%M %P %Z ")

  .row
    .col-sm-2
      OK To Contact:
    .col-sm-10
      = @person.OK_to_contact ? 'Yes' : 'No'

  .row
    .col-sm-2
      Active:
    .col-sm-10
      = @person.active ? 'Yes' : 'No'
%p
= link_to 'Edit', edit_person_path(@person)
&nbsp;
= link_to 'Back', people_path
&nbsp;
= link_to new_company_path, class: 'btn btn-secondary' do
  %i.glyphicon.glyphicon-plus
  Companies
