<p id="notice"><%= notice %></p>


<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>Available:</strong>
  <%= @person.available %>
</p>

<p>
  <strong>Available on:</strong>
  <%= @person.available_on %>
</p>

<p>
  <strong>Ok to contact:</strong>
  <%= @person.OK_to_contact %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
