%p#notice= notice

%p
  %b Engagement:
  = @docket.engagement_id
%p
  %b Person:
  = @docket.person_id
%p
  %b Number:
  = @docket.number
%p
  %b Date worked:
  = @docket.date_worked
%p
  %b Dated:
  = @docket.dated
%p
  %b Received on:
  = @docket.received_on
%p
  %b Operator signed:
  = @docket.operator_signed
%p
  %b Client signed:
  = @docket.client_signed
%p
  %b Approved:
  = @docket.approved
%p
  %b Approved on:
  = @docket.approved_on
%p
  %b Approved by:
  = @docket.approved_by
%p
  %b A inv pay:
  = @docket.a_inv_pay
%p
  %b B inv pay:
  = @docket.b_inv_pay
%p
  %b Supplier inv pay:
  = @docket.supplier_inv_pay

= link_to 'Edit', edit_docket_path(@docket)
\|
= link_to 'Back', dockets_path
