%h1 Listing requirements

%table
  %thead
    %tr
      %th Require
      %th Certificate
      %th For person
      %th For company
      %th For location
      %th Preference
      %th Description
      %th
      %th
      %th

  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.require
        %td= requirement.certificate_id
        %td= requirement.for_person
        %td= requirement.for_company
        %td= requirement.for_location
        %td= requirement.preference
        %td= requirement.description
        %td= link_to 'Show', requirement
        %td= link_to 'Edit', edit_requirement_path(requirement)
        %td= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Requirement', new_requirement_path
