%p#notice= notice

%p
  %b Require:
  = @requirement.require
%p
  %b Certificate:
  = @requirement.certificate_id
%p
  %b For person:
  = @requirement.for_person
%p
  %b For company:
  = @requirement.for_company
%p
  %b For location:
  = @requirement.for_location
%p
  %b Preference:
  = @requirement.preference
%p
  %b Description:
  = @requirement.description

= link_to 'Edit', edit_requirement_path(@requirement)
\|
= link_to 'Back', requirements_path
