= form_for @cert do |f|
  - if @cert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cert.errors.count, "error")} prohibited this cert from being saved:"
      %ul
        - @cert.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :require
    = f.text_field :require
  .field
    = f.label :certifiable_id
    = f.number_field :certifiable_id
  .field
    = f.label :expires_on
    = f.datetime_select :expires_on
  .field
    = f.label :serial_number
    = f.text_field :serial_number
  .field
    = f.label :permanent
    = f.check_box :permanent
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Save'
