%h1 Listing certs

%table
  %thead
    %tr
      %th Require
      %th Certifiable
      %th Expires on
      %th Serial number
      %th Permanent
      %th Active
      %th
      %th
      %th

  %tbody
    - @certs.each do |cert|
      %tr
        %td= cert.require
        %td= cert.certifiable_id
        %td= cert.expires_on
        %td= cert.serial_number
        %td= cert.permanent
        %td= cert.active
        %td= link_to 'Show', cert
        %td= link_to 'Edit', edit_cert_path(cert)
        %td= link_to 'Destroy', cert, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cert', new_cert_path
