= form_with(model: equipment, local: true) do |form|
  - if equipment.errors.any?
    #error_explanation
      %h2
        = pluralize(equipment.errors.count, "error")
        prohibited this equipment from being saved:
      %ul
        - equipment.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :company_id
    = form.number_field :company_id
  .actions
    = form.submit


