%p#notice= notice
%h1 Equipment
%table
  %thead
    %tr
      %th Name
      %th Company
      %th{:colspan => "3"}
  %tbody
    - @equipment.each do |equipment|
      %tr
        %td= equipment.name
        %td= equipment.company_id
        %td= link_to 'Show', equipment
        %td= link_to 'Edit', edit_equipment_path(equipment)
        %td= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Equipment', new_equipment_path
