%h3 Address: #{@company.address}

    .field
      = form.label :street_address
      = form.text_field :street_address

    .field 
      = form.label :city
      = form.text_field :city

  .field  
      = form.label :state
      = form.text_field :state

  .field 
      = form.label :post_code
      = form.text_field :post_code

  .field 
      = form.label :map_reference
      = form.text_field :map_reference

  .field 
      = form.label :longitude
      = form.text_field :longitude

    .field 
      = form.label :latitude
      = form.text_field :latitude
