
.row
  %hr
.row
  .col-sm-2
    %em 
      Contacts
    %hr

  .col-sm-2
    -if @company
      = link_to 'edit', company_identifiers_path(@company)
      %hr
  
.row

  .col-sm-2
    %em
      Kind  
  .col-sm-2
    %em
      Value
  .col-sm-2
    %em
      Order To Use
  
- if @identifiers.empty?
  No identifiers found.  
  -#= link_to 'Identifiers', new_person_identifier_path(@person)
- else
&nbsp

- @identifiers.each do |i|

  .row
    
    .col-sm-2.data
      = i.name     
    .col-sm-2.data
      = i.value
    .col-sm-2.data
      = i.rank.ordinalize
    .col_sm-.data
      = link_to 'edit', edit_identifier_path(i)
      
     
      