%hr
%small
  %p Roll365.com does not employ, recommend or endorse any agent, carrier or shipper nor is it responsible for the conduct of any agent, carrier or shipper. Roll365.com provides information and tools to help agents, carriers and shippers make informed decisions.   Where appropriate such services are built upon the Fr8.Network protocol including smart contracts and transactions, if any, rely on the Ethereum blockchain.

%hr

%center

  = link_to 'Home', root_path
  &nbsp;
  = link_to 'About Us', about_path
  &nbsp;
  = link_to 'Advertise with us', advertise_path
  &nbsp;
  = link_to 'FAQ', faq_path  
  &nbsp;
  = link_to 'Contact Us', contact_path
  &nbsp;
  = link_to 'Privacy Policy', privacy_path
  &nbsp;
  = link_to 'Terms and Conditions', tsandcs_path