%p dashboard.html.haml

%strong How is that dashboard coming?

%h1 
  %strong Use Cases -- What do you want to do?


%h3
  %ul

  
  %li= button_to "What's Going On"
  %p Calendar -- what deadlines are we facing?, what's been scheduled, e.g. today, tomorrow, rest of week
  
  
  %li= button_to "Housekeeping"
  %p Housekeeping (Static data) -- stuff like names & addresses, materials, conditions and so on
  
  
  %li= button_to "Prospecting"
  %p Prospecting, marshalling, responding, status management
  

  %li= button_to "Lanes"
  %p Project Management -- create, supervise, find staff
  Logistics, equipment, drivers, support 
  
  %li= button_to "Loads"
  %p Quote based on one or more Solutions 
  Routes & Schedules. 
  

  %li= button_to "Bookkeeping"
  %p Invoice Management 
  
  which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |
  