%p dashboard.html.haml

%strong How is that dashboard coming?

%h1 
  %strong Use Cases -- What do you want to do?


%h3
  %ul

  %li= button_to "Calls", root_path
  %p Take/journal in-bound calls  -- who, what, players; free'ish format
  
  
  %li= button_to "What's Going On"
  %p Calendar -- what deadlines are we facing?, what's been scheduled, e.g. today, tomorrow, rest of week
  
  
  %li= button_to "Housekeeping"
  %p Housekeeping (Static data) -- stuff like names & addresses, materials, conditions and so on
  
  
  %li= button_to "Prospecting"
  %p Prospecting, marshalling, responding, status management
  

  
  %li= button_to "Projects"
  %p Project Management -- create, supervise, find staffk
  

  %li= button_to "Haggle"
  %p Create a Quote based on one or more Solutions
  

  %li= button_to "Books"
  %p Invoice Management |
  
  which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |which would entail invoices generated, |
  tracked and paid? |
  

