

%center
  %h1 Roll365
  %h1 Software for Over the Roat Freight Industry
  %h2 Blockchain research version
  
  %h3 
    = link_to 'Admin Dashboard', dashboard_path
    &nbsp;
    = link_to "Fr8.Network", "https://Fr8.network", :target => "_blank"

%center

  = link_to 'Addresses', addresses_path
  &nbsp;
  = link_to 'Agreement Conditions', conditions_path    
  &nbsp;
  = link_to 'Carriers', companies_path
  &nbsp;
  = link_to 'Contacts', identifiers_path
  &nbsp;
  = link_to 'Equipment', equipment_index_path
  &nbsp;
  = link_to 'People', people_path
  &nbsp;
  = link_to 'Tip Sites', tips_path


  %p
  Under Development
  %p
  = link_to 'Calls', identifiers_path
  &nbsp;
  = link_to 'Lanes', addresses_path

%center

  %p
  %p
  %p
    // search path default is public/images
    = image_tag "truck.jpg", :size => "520x360" 

