

%center
  %h1 Roll365
  %h1 Software for the OTR Freight Industry
  %h2 R & D Version

%p
%center

 
  // search path default is public/images
  = image_tag "Drayage-LongBeach.jpg", :size => "520x360" 
  %p
  %p

%center

  = link_to 'Addresses', addresses_path
  &nbsp;
  = link_to 'Contract Clauses', conditions_path    
  &nbsp;
  = link_to 'Carriers', companies_path
  &nbsp;
  = link_to 'Comments', comments_path
  &nbsp;
  = link_to 'Contacts', identifiers_path
  &nbsp;
  = link_to 'Equipment', equipment_index_path
  &nbsp
  = link_to 'Materials', materials_path
  &nbsp;
  = link_to 'People', people_path
  &nbsp;
  = link_to 'Shipments', shipments_path
  &nbsp;
  = link_to 'Tip Sites', tips_path

  %p
  Under Development
  %p
  = link_to 'Call Management', identifiers_path
  &nbsp;
  = link_to 'Lane Development', addresses_path

  %p
  %p