%h3 Search
= search_form_for @q do |f|
  .field
    = f.label :onsite_now
    = f.text_field :onsite_now_cont, class: 'form-control'
    = f.submit class: 'btn btn-primary'
    .btn
      = link_to "Clear", request_path, class: "btn btn-secondary"      
    %hr

    %h5
      = will_paginate