= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company_id
    = f.number_field :company_id
  .field
    = f.label :rep_id
    = f.number_field :rep_id
  .field
    = f.label :project_start_on
    = f.datetime_select :project_start_on
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :intends_to_bid
    = f.number_field :intends_to_bid
  .field
    = f.label :submitted_bid
    = f.number_field :submitted_bid
  .actions
    = f.submit 'Save'
