%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Company:
  = @project.company_id
%p
  %b Rep:
  = @project.rep_id
%p
  %b Project start on:
  = @project.project_start_on
%p
  %b Description:
  = @project.description
%p
  %b Active:
  = @project.active
%p
  %b Intends to bid:
  = @project.intends_to_bid
%p
  %b Submitted bid:
  = @project.submitted_bid

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
