= form_for @company do |form|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this permit from being saved:"
      %ul
        - @company.errors.full_messages.each do |message|
          %li= message
  

  .form-group
    = form.label :name, "Name", class: "col-md-4 control-label"
    .col-md-8
      = form.text_field :name, class: "form-control"

  .form-group
    = form.label :line_of_business, class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :line_of_business, class: "form-control"
  
  .form-group
    = form.label :url, class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :url, class: "form-control"

  .form-group
    = form.label :credit_terms, "Credit Terms", class: "col-md-4 control-label"
    .col-md-8
      =form.text_field :credit_terms, class: "form-control"
  
  .form-group
    = form.label :Po_required, "PO Required", class: "col-md-4 control-label"
    .col-md-8
      = form.text_field :PO_required, class: "form-control"

  .form-group
    = form.label :active, "Active", class: "col-md-4 control-label"
    .col-md-8
      = form.text_field :active, class: "form-control"

  .form-group
    = form.label :bookkeeping_number, "Bookkeeping Number", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :bookkeeping_number, class: "form-control"
  
  .actions
    = form.submit
  
