%h1
  = @company.name
= @company.display_address
= link_to "address...", edit_company_address_path(@company)

%hr/
= render 'form', company: @company
&nbsp;
= link_to 'Show', @company
|
= link_to 'Back', companies_path
