
.container-fluid
  
  .row

    .col-2

      %h3 Search
      = search_form_for @q do |f|
        .field
          = f.label :name
          = f.text_field :name_cont, class: 'form-control'
          = f.label :line_of_business
          = f.text_field :line_of_business_cont, class: 'form-control'
          = f.label :url
          = f.text_field :url_cont, class: 'form-control'
          = f.label :credit_terms
          = f.text_field :credit_terms_cont, class: 'form-control'
          = f.submit class: 'btn btn-primary'
          .btn
            = link_to "Clear", request_path, class: "btn btn-secondary"      
          %hr

          %h5
            = paginate @companies
          

    .col-6
      %h3 Companies
      = @companies.count 
      listed
      %hr
    
      %table

        %thead
          %tr
            %th{align: 'left', width: '32'}Name
            %th{align: 'left', width: "64"}Line of Business
            %th{align: 'left', width: '32'}City
            %th Web Site
            -#%th Credit terms
            -#%th Po required
            -#th Active
            -#%th Bookkeeping Number      
        %tbody
          - @companies.each do |company|
            %tr
          
              %td{align: 'left', width: '32'}= company.name

              %td{align: 'left', width: "64"}= company.line_of_business
               
              - status, value = company.display_city 
              -if status
                %td= link_to "Please edit", edit_address_path(value)
              -else
                %td{align: 'left', width: '32'}= value
              
              %td{align: 'left', width: '32'}
                = link_to truncate(company.url, :length => 120), "http://#{company.url}"              
              -#%td= company.display_credit_terms( company.credit_terms )
              -#%td= company.credit_terms
              
              -#%td= company.PO_required == true ? 'Yes' : 'No'
              -#%td= company.active == true ? 'Active' : 'Inactive'
              -#%td= company.bookkeeping_number
            
              %td= link_to 'Show', company
              %td= link_to 'Edit', edit_company_path(company)
              %td= link_to 'Destroy', company, method: :delete, data: { confirm: "Are you sure you want to delete #{company.name}?" } 
      %br

      = link_to new_company_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
        New Company