
= render '/layouts/company_header'

= search_form_for @q do |f|

  .field
    = f.label :name
    = f.text_field :name_cont, class: 'form-control'

  .action
    = f.submit 
 

= link_to "Clear", reqiest_path, class: "btn btn-default"

%h1 Companies

%table
  %thead
    %tr

      %th ID
      %th Name
      %th Credit terms
      %th Po required
      %th Active
      %th Bookkeeping number
      %th Line of business
      %th Web Site
      %th Licensee
      

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.id
        %td= company.name
        %td= company.credit_terms
        %td= company.PO_required
        %td= company.active
        %td= company.bookkeeping_number
        %td= company.line_of_business
        %td= link_to truncate(company.url, :length => 140), "http://#{company.url}"
        %td= company.licensee
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New Company', new_company_path


