
.container-fluid
  
  .row

    .col-2

      = render "search_panel", locals: {q: @q}
          

    .col-6
      %h3 Companies
      = @companies.count 
      listed
      %hr
    
      %table.table.table-striped.table-responsive


        %thead
          %tr
            %th{align: 'left'}Name
            %th{align: 'left', valign: 'top'} Line of Business
            %th{align: 'left', width: '32'}City
            %th Web Site

        %tbody
          - @companies.each do |company|
            %tr
          
              %td{align: 'left', width: '32'}= company.name

              %td{align: 'left', width: "64"}= company.line_of_business
               
              - status, value = company.display_city 
              -if status
                %td= link_to "Please edit", edit_address_path(value)
              -else
                %td{align: 'left', width: '32'}= value
              
              %td{align: 'left', width: '32'}
                = link_to truncate(company.url, :length => 120), "http://#{company.url}"              
              -#%td= company.display_credit_terms( company.credit_terms )
              -#%td= company.credit_terms
              
              -#%td= company.PO_required == true ? 'Yes' : 'No'
              -#%td= company.active == true ? 'Active' : 'Inactive'
              -#%td= company.bookkeeping_number
            
              %td= link_to 'Show', company
              %td= link_to 'Edit', edit_company_path(company)
              %td= link_to 'Destroy', company, method: :delete, data: { confirm: "Are you sure you want to delete #{company.name}?" } 
      %br

      = link_to new_company_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
        New Company