
.container-fluid
  
  .row

    .col-2

      %h3 Search
      = search_form_for @q do |f|
        .field
          = f.label :name
          = f.text_field :name_cont, class: 'form-control'
          = f.label :line_of_business
          = f.text_field :line_of_business_cont, class: 'form-control'
          = f.label :url
          = f.text_field :url_cont, class: 'form-control'
          = f.label :bookkeeping_number
          = f.text_field :bookkeeping_number, class: 'form-control'
          = f.submit class: 'btn btn-primary'

          .btn
            = link_to "Clear", request_path, class: "btn btn-secondary"
          //= paginate @addresses            
          %h4= paginate @companies
    .col-6
      %h3 Companies
      = @companies.count 
      listed
      %hr

      %table

        %thead
          %tr
            %th Name
            %th{width: '24px'} Line of Business
            %th{width: '60px'} City
            %th Web Site
            %th Credit terms
            %th Po required
            %th Active
            %th Bookkeeping number
            %th Licensee
            
        %tbody
          - @companies.each do |company|
            %tr
            
              %td= company.name
              %td= company.line_of_business
              %td= company.display_address
              %td
                = link_to truncate(company.url, :length => 120), "http://#{company.url}"              
              %td= company.display_credit_terms( company.credit_terms )
              %td= company.PO_required == true ? 'Yes' : 'No'
              %td= company.active == true ? 'Active' : 'Inactive'
              %td= company.bookkeeping_number
              %td= company.licensee
              %td= link_to 'Show', company
              %td= link_to 'Edit', edit_company_path(company)
              %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to new_company_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
        New Company