%h1
  = @company.name

%p
  = @company.display_address
  = link_to 'edit', edit_address_path(@company)

%hr

%p
  %strong Credit terms:
  = @company.credit_terms


%p
  %strong PO required:
  = @company.PO_required


%p
  %strong Active:
  = @company.active

%p
  %strong>Bookkeeping number:
  = @company.bookkeeping_number

%p
  %strong Line of business:
  = @company.line_of_business

%p
  %strong Url:
  = @company.url

%p
  %strong Licensee:
  = @company.licensee

%p

-#
-# Determine if Company address exists
-#
-# addr = @company.has_address?
-#- if addr.nil?
-#= link_to "Address", ncaddr_path(@company)
  -#= link_to "New addr", new_company_address_path(@company)
-#- else
-#= link_to "Edit addr", edit_address_path(addr)

%p

= link_to 'Back', companies_path

