
%h1
  = @company.name

%p
  = @company.display_address
  = link_to 'edit address', edit_address_path
  = link_to 'people', people_path

  %p

  = render "identifiers/contacts_for"

  = link_to "... more", parent_index_path(@company)
  = link_to "edit contact", edit_identifier_path(@company)
  
%hr
  
.field
  %strong Credit terms: 
  = @company.credit_terms

.field
  %strong PO required:
  = @company.PO_required


.field
  %strong Active:
  = @company.active

.field
  %strong>Bookkeeping number:
  = @company.bookkeeping_number

.field
  %strong Line of business:
  = @company.line_of_business

.field
  %strong Url:
  = @company.url

.field
  %strong Licensee:
  = @company.licensee

%p

-#
-# Determine if Company address exists
-#
-# addr = @company.has_address?
-#- if addr.nil?
-#= link_to "Address", ncaddr_path(@company)
  -#= link_to "New addr", new_company_address_path(@company)
-#- else
-#= link_to "Edit addr", edit_address_path(addr)

%p

= link_to 'Back', companies_path

