
.container-fluid
  .row
    .col-sm-6
      %h1
        = @company.name
        %p
        %h3  
          = @company.line_of_business
        %p
          = @company.display_address
          = link_to 'address...', company_addresses_path(@address)
  
    = render "shared/contacts_for"

  .row
    .col-sm-2
      %em
        People & Associates
    .col-sm-10
      = link_to 'people...', company_people_path(@company)  
  
  .row
    .col-sm-2
      = render "shared/people_for", locals: {company: @company}
  .row
    .col-sm-10
      %p
      
 
%hr

.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Credit terms:
    .col-sm-10
      = @company.credit_terms
    
    .row      
    .col-sm-2
      Status:
    .col-sm-10
      = @company.active ? 'Active' : 'Inactive'

    .row      
    .col-sm-2
      Purchase Order:
    .col-sm-10
      = @company.PO_required ? 'Required' : 'Not Required'

    .row      
    .col-sm-2
      Bookkeeping Number:
    .col-sm-10
      = @company.bookkeeping_number

    .row      
    .col-sm-2
      Line of Business:
    .col-sm-10
      = @company.line_of_business

    .row      
    .col-sm-2
      URL (Web Site):
    .col-sm-10
      = @company.url

    .row      
    .col-sm-2
      License:
    .col-sm-10
      = @company.licensee ? 'Yes' : 'No'
  %p
  %nbsp
  %nbsp
  = link_to 'Companies', companies_path


