
%h1
  = @company.name

%p
  = @company.display_address

  = link_to 'edit address', edit_address_path(@company)
      %hr
 
  = render "shared/contacts_for"
  = link_to "New Contact", new_company_identifier_path(@company)  
  %hr
  = render "shared/people_for", locals: {company: @company}
  = link_to 'New People', new_company_person_path(@company)  



  
%hr

.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Credit terms:
    .col-sm-10
      = @company.credit_terms
    
    .row      
    .col-sm-2
      Status:
    .col-sm-10
      = @company.active ? 'Active' : 'Inactive'

    .row      
    .col-sm-2
      Purchase Order:
    .col-sm-10
      = @company.PO_required ? 'Required' : 'Not Required'

    .row      
    .col-sm-2
      Bookkeeping Number:
    .col-sm-10
      = @company.bookkeeping_number

    .row      
    .col-sm-2
      Line of Business:
    .col-sm-10
      = @company.line_of_business

    .row      
    .col-sm-2
      URL (Web Site):
    .col-sm-10
      = @company.url

    .row      
    .col-sm-2
      License:
    .col-sm-10
      = @company.licensee ? 'Yes' : 'No'
  %p

-#
-# Determine if Company address exists
-#
-# addr = @company.has_address?
-#- if addr.nil?
-#= link_to "Address", ncaddr_path(@company)
  -#= link_to "New addr", new_company_address_path(@company)
-#- else
-#= link_to "Edit addr", edit_address_path(addr)

%p

= link_to 'Companies', companies_path


