
.container-fluid
  .row
    .col-sm
      %h1
        = @company.name
        %p
        %h3  
          = @company.line_of_business
        %p
        
          = @company.display_address
          
          - if @company.addresses.nil?
            = link_to 'new', new_company_address_path(@company)
          - else
            = link_to 'edit', company_addresses_path(@company)
       
  
  = render "shared/contacts_for"

  &nbsp
  
  .row
    .col-sm-2
      %em
        People & Associates
        %hr
    .col-sm-2
      = link_to 'edit', company_people_path(@company)  
      or
      = link_to 'new', new_company_person_path(@company)
      %hr
      %p
  .row     
    .col-sm-12
      = render "shared/people_for"
  &nbsp
  .row
    .col_sm-2
      %em
        Company Characteristics
        %hr
    
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-2
      %em
        Settings
        
  %p
  .row      
    .col-sm-2
      Credit terms:
    .col-sm-2
      = @company.credit_terms
    .col-sm-2
      = link_to 'explain', company_terms_path(@company)
      
  .row      
    .col-sm-2
      Status:
    .col-sm-2
      = @company.active ? 'Active' : 'Inactive'
    .col-sm-2
      = link_to 'explain', company_active_path(@company)

  .row      
    .col-sm-2
      Purchase Order:
    .col-sm-2
      = @company.PO_required ? 'Required' : 'Not Required'
    .col-sm-2
      = link_to "explain", company_PO_path(@company)
  
  .row      
    .col-sm-2
      Bookkeeping Number:
    .col-sm-2
      = @company.bookkeeping_number
    .col-sm-2
      = link_to "edit", root_path

  .row      
    .col-sm-2
      Line of Business:
    .col-sm-2
      = @company.line_of_business
    .col-sm-2
      = link_to "edit", root_path

  .row      
    .col-sm-2
      URL (Web Site):
    .col-sm-2
      = @company.url
    .col-sm-2
      = link_to "edit", root_path

  .row      
    .col-sm-2
      License:
    .col-sm-2
      = @company.licensee ? 'Yes' : 'No'
    .col-sm-2
      = link_to "edit", root_path      
  %p
  %nbsp
  %nbsp
  = link_to 'Companies', companies_path


