%p#notice= notice

%p
  %b Schedule:
  = @reservation.schedule_id
%p
  %b Equipment:
  = @reservation.equipment_id
%p
  %b Number requested:
  = @reservation.number_requested

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
