
= paginate @identifiers, :left => 1, :right => 3

%h1 Listing identifiers


%table
  %thead
    %tr
      %th Priority
      %th Parent Name
      %th Kind
      %th Value
      
      

  %tbody
    - @identifiers.each do |f|

      %tr
        %td{align: 'center'}
          = f.rank
        %td= f.display_parent_name
        %td= f.name
        %td= f.value
        %td= link_to 'Show', f
        %td= link_to 'Edit', edit_identifier_path(f)
        %td= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New (not edit) Identifier', new_company_identifier_path(1)
