

%h1 Listing Contact Info for  #{@parent.name}


%table
  %thead
    %tr
      %th Priority
      %th Parent Name
      %th Value
      
      

  %tbody
    - @identifiers.each do |f|

      %tr
        %td{align: 'center'}
          = f.rank
        
        %td= f.name
        %td= f.value
        %td= link_to 'Show', f
        %td= link_to 'Edit', edit_identifier_path(f)
        %td= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Identifier', new_company_identifier_path(@parent)

-# Find the way back to base or parent
- if @identifiers[0].nil?
  = link_to "Back to Base", companies_path
- else
  - case @identifiers[0].identifiable_type
    - when "Company"
      = link_to 'Back to Base', company_path(:id => @identifiers[0].identifiable_id)   # W O R K S
    - else
      = link_to 'Home', root_path





