%h1 Listing identifiers

%table
  %thead
    %tr
      %th Parent Type
      %th Parent Name
      %th Parent Id
      %th Kind
      %th Value
      %th Rank
      

  %tbody
    - @identifiers.each do |i|

      %tr
      
        %td= i.identifiable_type
        %td= i.display_name
        %td= i.identifiable_id
        %td= i.name
        %td= i.value
        %td= i.rank
        %td= link_to 'Show', i
        %td= link_to 'Edit', edit_identifier_path(i)
        %td= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Identifier', new_identifier_path
