
.container-fluid

  %h1 Finder

  .row

    .col-2

      = render "search_panel", locals: {q: @q}
          
    .col-6
      %h3 Contacts
      = @identifiers.count 
      listed
      %hr

      %table.table.table-striped


        %thead
          %tr
            %th Kind
            %th Organization or Person
            %th Name
            %th Value
            %th Rank or Priority
            

        %tbody
          - @identifiers.each do |iden|
            %tr
              %td= iden.identifiable_type
              -# use path to take user to company as all persons have an affiliation
              %td{align: 'left', width: '224'}= link_to iden.identifiable.display_name, company_path(iden.identifiable_id)
              %td= iden.name
              %td{align: 'left', width: '224'}= iden.value
              %td{align: 'left', width: "64"}= iden.rank.ordinalize

            
              %td= link_to 'Show', iden
              %td= link_to 'Edit', edit_identifier_path(iden)
              %td= link_to 'Destroy', identifier_path(iden), method: :delete, data: { confirm: "Are you sure you want to delete #{iden.name}?" } 
      %br
      -if params.has_key? (:company_id)
        = link_to new_company_identifier_path(@parent), class: 'btn btn-secondary' do
          %i.glyphicon.glyphicon-plus
            New Contact Info
  .row
    .col-2 
      = link_to "Back to Company", company_path(@parent)