%h1 New identifier for #{@parent.name}
%p
  = @identifier.name
  = @identifier.id

= render 'form'

= link_to 'Back', company_identifiers(@parent)
= link_to 'Back to Companies', company_path(@parent)
