

%h1 Contact for: #{@identifier.identifiable.name}

%p
  %b Rollodex type:
  #{@identifier.identifiable_type}
  -#= link_to @identifier.identifiable_type, companies_path

%hr

.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Name:
    .col-sm-10
      = @identifier.name

  .row
    .col-sm-2
      Value:
    .col-sm-10
      = @identifier.value

  .row
    .col-sm-2
      Rank or Priority:
    .col-sm-10
      = @identifier.rank.ordinalize
%p
= link_to 'Edit', edit_identifier_path(@identifier)
%nbsp
-#= link_to "Back", ncaddr_path(@identifier.identifiable_type)


%nbsp
%nbsp
= link_to @identifier.identifiable, class: 'btn btn-secondary' do
  %i.glyphicon.glyphicon-plus
    Return