%p#notice= notice


%h1 Identifier for #{@name}
%p
  %b Parent type:
  = @identifier.identifiable_type
%p

%p
  %b Kind:
  = @identifier.name
%p
  %b Value:
  = @identifier.value
%p
  %b Rank:
  = @identifier.rank

= link_to 'Edit', edit_identifier_path(@identifier)
\|
= link_to 'Back', identifiers_path
