= form_for @permit do |f|
  - if @permit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@permit.errors.count, "error")} prohibited this permit from being saved:"
      %ul
        - @permit.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :permitable
    = f.text_field :permitable
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :issuer
    = f.text_field :issuer
  .field
    = f.label :jurisdiction
    = f.text_field :jurisdiction
  .field
    = f.label :basis
    = f.text_field :basis
  .field
    = f.label :required
    = f.check_box :required
  .field
    = f.label :for_person
    = f.check_box :for_person
  .field
    = f.label :for_company
    = f.check_box :for_company
  .field
    = f.label :for_equipment
    = f.check_box :for_equipment
  .field
    = f.label :for_location
    = f.check_box :for_location
  .field
    = f.label :permanent
    = f.check_box :permanent
  .field
    = f.label :valid_from
    = f.datetime_select :valid_from
  .field
    = f.label :valid_to
    = f.datetime_select :valid_to
  .actions
    = f.submit 'Save'
