%h1 Listing permits

%table
  %thead
    %tr
      %th Permitable
      %th Name
      %th Description
      %th Issuer
      %th Jurisdiction
      %th Basis
      %th Required
      %th For person
      %th For company
      %th For equipment
      %th For location
      %th Permanent
      %th Valid from
      %th Valid to
      %th
      %th
      %th

  %tbody
    - @permits.each do |permit|
      %tr
        %td= permit.permitable
        %td= permit.name
        %td= permit.description
        %td= permit.issuer
        %td= permit.jurisdiction
        %td= permit.basis
        %td= permit.required
        %td= permit.for_person
        %td= permit.for_company
        %td= permit.for_equipment
        %td= permit.for_location
        %td= permit.permanent
        %td= permit.valid_from
        %td= permit.valid_to
        %td= link_to 'Show', permit
        %td= link_to 'Edit', edit_permit_path(permit)
        %td= link_to 'Destroy', permit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Permit', new_permit_path
