= form_for @solution_tip do |f|
  - if @solution_tip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution_tip.errors.count, "error")} prohibited this solution_tip from being saved:"
      %ul
        - @solution_tip.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :solution_id
    = f.number_field :solution_id
  .field
    = f.label :tip_id
    = f.number_field :tip_id
  .actions
    = f.submit 'Save'
