%p#notice= notice

%p
  %b Solution:
  = @solution_tip.solution_id
%p
  %b Tip:
  = @solution_tip.tip_id

= link_to 'Edit', edit_solution_tip_path(@solution_tip)
\|
= link_to 'Back', solution_tips_path
