= form_for @address do |f|
  - if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
      %ul
        - @address.errors.full_messages.each do |message|
          %li= message

  %h3 
    = @parent
  

  .form-group
    = f.label :street_address, "Street Address:", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :street_address, class: "form-control"
  .form-group
    = f.label :city, "City", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :city, class: "form-control"
  .form-group
    = f.label :state, "State", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :state, class: "form-control"
  .form-group
    = f.label :post_code, "Post Code:", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :post_code, class: "form-control"
  .form-group
    = f.label :map_reference, "Map Reference", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :map_reference, class: "form-control"
  .form-group
    = f.label :longitude, "longitude", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :longitude, class: "form-control"
  .form-group
    = f.label :latitude, "Latitude", class: "col-md-4 control-label"
    .col-md-8
      = f.text_field :latitude, class: "form-control"      
  .action
    = f.submit
  
