%h1 Edit address for:  #{@address.addressable.name}

%p
  %b Parent type:
  = @address.addressable_type

= render 'form'

%table
  %tr
    %td{width: 10}
      = button_to 'Back', addresses_path, :method => "get"
    
    %td
      = button_to "Show", action: "show"