%h1 Listing addresses

%table
  %thead
    %tr
      %th Parent Type
      %th Parent Name
      %th Street address
      %th City
      %th State
      %th Po box
      %th Map reference
      %th Longitude
      %th Latitude
      %th
      %th
      %th

  %tbody
    - @addresses.each do |addr|
      %tr
        %td= addr.addressable_type
        %td= addr.display_parent_name
        %td= addr.street_address
        %td= addr.city
        %td= addr.state
        %td= addr.post_code
        %td= addr.map_reference
        %td= addr.longitude
        %td= addr.latitude
        %td= link_to 'Show', addr
        %td= link_to 'Edit', edit_address_path(addr)
        %td= link_to 'Destroy', addr, method: :delete, data: { confirm: 'Are you sure?' }
      %end
    %end


= will_paginate @products

%br

= link_to 'New Address', new_address_path
