%h1 Listing addresses

%table
  %thead
    %tr
      %th Addressable
      %th Street address
      %th City
      %th State
      %th Po box
      %th Map reference
      %th Longitude
      %th Latitude
      %th
      %th
      %th

  %tbody
    - @addresses.each do |address|
      %tr
        %td= address.addressable
        %td= address.street_address
        %td= address.city
        %td= address.state
        %td= address.po_box
        %td= address.map_reference
        %td= address.longitude
        %td= address.latitude
        %td= link_to 'Show', address
        %td= link_to 'Edit', edit_address_path(address)
        %td= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Address', new_address_path
