%p#notice= notice

%h1 Address for: #{@address.addressable.name}

%p
  %b Rollodex type:
  = @address.addressable_type
%p
  %b Street address:
  = @address.street_address
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Po box:
  = @address.post_code
%p
  %b Map reference:
  = @address.map_reference
%p
  %b Longitude:
  = @address.longitude
%p
  %b Latitude:
  = @address.latitude

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
