

.container-fluid

  %h1 Address of: #{@address.addressable.display_name}
  %p
    %b Rollodex type:
    = link_to @address.addressable_type.pluralize, addresses_path
  %hr

  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Street Address:
    .col-sm-10
      = @address.street_address

  .row
    .col-sm-2
      City:
    .col-sm-10
      = @address.city

  .row
    .col-sm-2
      State:
    .col-sm-10
      = @address.state

  .row
    .col-sm-2
      Postal Code:
    .col-sm-10
      = @address.post_code

  .row
    .col-sm-2
      Map reference:
    .col-sm-10
      = @address.map_reference

  .row
    .col-sm-2
      Longitude:
    .col-sm-10
      = @address.longitude

  .row
    .col-sm-2
      Latitude:
    .col-sm-10
      = @address.latitude
%p
-#= link_to 'Edit Address', edit_address_path(@address)
-#= link_to "Return", @address.addressable

= link_to edit_address_path(@address), class: 'btn btn-primarary' do
  %i.glyphicon.glyphicon-plus
    Edit Address
%nbsp
%nbsp
= link_to @address.addressable, class: 'btn btn-secondary' do
  %i.glyphicon.glyphicon-plus
    Return
      
