%p#notice= notice

%p
  %b Street address,:
  = @address.street_address,
%p
  %b City,:
  = @address.city,
%p
  %b State,:
  = @address.state,
%p
  %b Po box:
  = @address.po_box
%p
  %b Map reference:
  = @address.map_reference
%p
  %b Longitude:
  = @address.longitude
%p
  %b Latitude:
  = @address.latitude
%p
  %b Company:
  = @address.company
%p
  %b Person:
  = @address.person
%p
  %b Identifier:
  = @address.identifier
%p
  %b Cert:
  = @address.cert
%p
  %b Requirement:
  = @address.requirement

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
