%h1 Listing certificates

%table
  %thead
    %tr
      %th Name
      %th Description
      %th For person
      %th For company
      %th For equipment
      %th For location
      %th Active
      %th
      %th
      %th

  %tbody
    - @certificates.each do |certificate|
      %tr
        %td= certificate.name
        %td= certificate.description
        %td= certificate.for_person
        %td= certificate.for_company
        %td= certificate.for_equipment
        %td= certificate.for_location
        %td= certificate.active
        %td= link_to 'Show', certificate
        %td= link_to 'Edit', edit_certificate_path(certificate)
        %td= link_to 'Destroy', certificate, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Certificate', new_certificate_path
