= form_for @shipment do |form|
  - if @shipment.errors.any?
    #error_explanation
      %h2.tbg= "#{pluralize(@shipment.errors.count, "error")} prohibited this permit from being saved:"
      %ul
        - @shipment.errors.full_messages.each do |message|
          %li.tbg= message

  .form-group
    = form.label :tracking_id, "Tracking Identifier", class: "col-md-4 control-label"
    .col-md-8
      = form.text_field :tracking_id, class: "form_control"

  .form-group
    = form.label :ship_from, class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :ship_from, class: "form-control"
  
  .form-group
    = form.label :ship_to, class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :ship_to, class: "form-control"

  .form-group
    = form.label :pickup, class: "col-md-4 control-label"
    .col-md-8
      = form.text_field :pickup, class: "form-control"

  .form-group
    = form.label :deadline, "Deadline", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :deadline, class: "form-control"

  .form-group
    = form.label :cargo, "Cargo", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_area :cargo, class: "form-control"

  .form-group
    = form.label :utilization, "Utilization", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :utilization, class: "form-control"

  .form-group
    = form.label :quote_basis, "Basis for Quote (Costs)", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :deadline, class: "form-control"

  .form-group
    = form.label :quote_complete, "Quote ($)", class: "col-md-4 control-label" 
    .col-md-8
      = form.text_field :deadline, class: "form-control"      
  
  %p
    .actions
    = form.submit
  