
.row
  %table.table.table-striped

    %thead
      %tr
        %th{align: 'left'} 
          %em
            Tracking ID
        %th
          %em
            Ship From
        %th
          %em 
            Ship To
        %th 
          %em
            Deadline
        %th
          %em
            Cargo
        %th
          %em
            Load
        %th
          %em
            Quote Basis
        %th
          %em
            Quote Complete

    %tbody
      - @shipments.each do |shipment|
        %tr.data 
          %td= shipment.tracking_id
          %td= shipment.ship_from
          %td= shipment.ship_to
          %td= shipment.deadline
          %td= shipment.cargo
          %td= shipment.utilization
          %td= shipment.quote_basis
          %td= shipment.quote_complete
             
          %td= link_to 'Show', shipment
          %td= link_to 'Update', edit_shipment_path(shipment)
          %td= link_to 'Close', shipment, method: :delete, data: { confirm: "Are you sure you want to close out shipment #{shipment.tracking_id}?" } 
  %br