%h3 Search
= search_form_for @q do |f|
  .field
    
    = f.label 'Tracking Identifier (unique)'
    = f.text_field :tracking_id_cont, class: 'form-control'

    = f.label :ship_from
    = f.text_field :ship_from_cont, class: 'form-control'

    = f.label :ship_to
    = f.text_field :ship_to_cont, class: 'form-control'

    = f.label :pickup
    = f.text_field :pickup_cont, class: 'form-control'

    = f.label :deadline
    = f.text_field :deadline_cont, class: 'form-control'

    = f.label :cargo
    = f.text_area :cargo_cont

    = f.label :utilization
    = f.text_field :utilization

    = f.label :status
    = f.text_field :status

    = f.submit class: 'btn btn-primary'
    
    
    .btn
      = link_to "Clear", request_path, class: "btn btn-secondary"
  .row
    .col-sm-1
      .btn      
        = link_to "Back", shipments_path, class: "btn btn-secondary"
    %hr
    
    %p

%p
  Search icon on a button:
  %button.btn.btn-default{:type => "button"}
    %span.glyphicon.glyphicon-search
    Search