.container-fluid

.row
  .col-sm-1
    .col
      
.row
  .col-sm-1
    .col
      %h2 Shipments
.row
  .col-sm-2
    .col
      = @shipments.count.to_s
      listed


  .col-sm-2
    .col
      = will_paginate
  .col-sm-2
    .col
      = link_to search_shipments_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
          Search
  .col-sm-2
    .col
      = link_to new_shipment_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
          New Shipment



.row
  .col-sm-2
    .col
      = render "index_table"
