.container-fluid

.row
  .col-sm-1
    .col
      
.row
  .col-sm-1
    .col
      %h2 Shipments
.row
  .col-sm-1
    .col
      = @shipments.count.to_s
      listed


  .col-sm-1
    .col

      = will_paginate  
  

.row
  .col-sm-2
    .col
      = link_to shipment_search_path, class: 'btn btn-secondary' do
        %i.glyphicon.glyphicon-plus
          Find Shipments

  .col-sm-2
    = link_to new_shipment_path, class: 'btn btn-secondary' do
      %i.glyphicon.glyphicon-plus
        New Shipment

.row
  .col-sm-2
    .col
      = render "index_table"
