%p#notice= notice

%p
  %b Tracking ID (unique):
  = @shipment.tracking_id
%p
  %b Ship from:
  = @shipment.ship_from
%p
  %b Ship to:
  = @shipment.ship_to
%p
  %b Pickup:
  = @shipment.pickup
%p
  %b Deliver:
  = @shipment.deadline
%p
  %b Cargo:
  = @shipment.cargo
%p
  %b Load:
  = @shipment.utilization
%p
  %b Quote basis:
  = @shipment.quote_basis
%p
  %b Quote complete:
  = @shipment.quote_complete


= link_to 'Edit', edit_shipment_path(@shipment)
\|
= link_to 'Back', shipments_path
