%p#notice= notice

%h1
  = @tip.name

%p
  = @tip.display_address

  = link_to 'edit address', edit_address_path(@tip)
%hr
 


.container-fluid
  .row
    .col-sm-2
      %em
        Attributes
    .col-sm-10
      %em
        Settings
  %p
  .row      
    .col-sm-2
      Name:
    .col-sm-10
      = @tip.name

  .row
    .col-sm-2
      Fee
    .col-sm-10
      = @tip.fee

  .row
    .col-sm-2
      Materials Accepted
    .col-sm-10
      = @tip.fire_ant_risk_level


%p
= link_to 'Edit', edit_tip_path(@tip)
\|
= link_to 'Back', tips_path
