%p#notice= notice

%p
  %b Approved:
  = @solution.approved
%p
  %b Client approved:
  = @solution.client_approved
%p
  %b Drive time from load to tip:
  = @solution.drive_time_from_load_to_tip
%p
  %b Drive time into site:
  = @solution.drive_time_into_site
%p
  %b Drive time into tip:
  = @solution.drive_time_into_tip
%p
  %b Drive time out of site:
  = @solution.drive_time_out_of_site
%p
  %b Drive time out of tip site:
  = @solution.drive_time_out_of_tip_site
%p
  %b Drive time tip to load:
  = @solution.drive_time_tip_to_load
%p
  %b Equipment name:
  = @solution.equipment_name
%p
  %b Equipment dollars per day:
  = @solution.equipment_dollars_per_day
%p
  %b Equipment units required per day:
  = @solution.equipment_units_required_per_day
%p
  %b Hourly hire rate:
  = @solution.hourly_hire_rate
%p
  %b Invoice load client:
  = @solution.invoice_load_client
%p
  %b Invoice tip client:
  = @solution.invoice_tip_client
%p
  %b Kms one way:
  = @solution.kms_one_way
%p
  %b Load time:
  = @solution.load_time
%p
  %b Loads per day:
  = @solution.loads_per_day
%p
  %b Material:
  = @solution.material_id
%p
  %b Name:
  = @solution.name
%p
  %b Pay equipment per unit:
  = @solution.pay_equipment_per_unit
%p
  %b Pay load client:
  = @solution.pay_load_client
%p
  %b Pay tip client:
  = @solution.pay_tip_client
%p
  %b Pay tip:
  = @solution.pay_tip
%p
  %b Pay tolls:
  = @solution.pay_tolls
%p
  %b Purchase order required:
  = @solution.purchase_order_required
%p
  %b Quote:
  = @solution.quote_id
%p
  %b Solution type:
  = @solution.solution_type
%p
  %b Semis permitted:
  = @solution.semis_permitted
%p
  %b Total material:
  = @solution.total_material
%p
  %b Unit of material:
  = @solution.unit_of_material
%p
  %b Unload time:
  = @solution.unload_time

= link_to 'Edit', edit_solution_path(@solution)
\|
= link_to 'Back', solutions_path
