!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Roll365 R&amp;D Beta
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  

-#
-# Bootstrap grid for all containers
-#  

.container-fluid
  

  - if controller_name == 'Hyperstack'
    
    = mount_component 'Header'

  - else

    = render '/shared/header'


  = yield
  

  - if controller_name == 'hyperstack'
  
    = mount_component 'Footer'

  - else

    = render '/shared/footer'
    


-# HS layout suggestion from Catmandu
-#    = mount_component 'Header', controller_name: controller_name, action_name: action_name, flash: flash.as_json

-#  = yield
