!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Roll365 R&amp;D Beta
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  

-#
-# Bootstrap grid for all containers
-#  

.container-fluid
  
  = render '/shared/header'
  
  = yield
  
  = render '/shared/footer'